.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.cards {
  display: flex;
  margin: 0 0;
  /* margin: 0 2% !important; */
}

.card {
  width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 0 1rem;
  color: white;
  margin: 0 .5rem;
}

h1, h2 {
  text-align: center;
  /* color: aqua; */
}


.infected {
  background-color: rgba(0, 0, 255, 0.5);
  border-right: 10px solid rgba(0, 0, 255, 0.5);
}

.infected h1, .infected h2 {
  color: blue; 
}

.recovered {
  /* margin: 0rem 2rem; */
  background-color: rgba(0, 255, 0, 0.5);
  border-right: 10px solid rgba(0, 255, 0, 0.5);
}

.recovered h1, .recovered h2 {
  color: green; 
}

.still {
  /* margin: 0rem 2rem; */
  background-color: rgba(255, 0, 85, 0.5);
  border-right: 10px solid rgba(255, 0, 140, 0.5);
}

.deaths {
  background-color: rgba(255, 0, 0, 0.5);
  border-right: 10px solid rgba(255, 0, 0, 0.5);
}

.still h1, .still h2 {
  font-size: 1.49rem;
  color: rgb(128, 0, 38); 
}

.deaths h1 , .deaths h2 {
  color: red; 
}

@media only screen and (max-width: 1030px) {
  .cards {
    flex-direction: column;
  }
  .card {
    margin: 2% 2% !important;
  }
}

@media only screen and (min-width: 1031px) {
  .cards {
    /* flex-direction: column; */
    width: 95%;
  }
  .card {
    margin: 2% 2% !important;
  }
}